.hide {
    display: none;
}

.input-error,.input-error:focus {
    border: 2px solid red;
}

ul {
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

.guest {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
    background-color: aqua;
    padding: 8px;
    border-radius: 4px;
}